[submodule "build/submodules/Vulkan-Headers"]
	path = build/submodules/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers
[submodule "build/submodules/Assimp"]
	path = build/submodules/Assimp
	url = https://github.com/assimp/assimp
